## Compare CSV

In [1]:
#We import all the necessary packages
import pandas as pd
import numpy as np
import networkx as nx
import matplotlib.pyplot as plt
import re
import urllib
import json
import urllib.request as urllib2

In [15]:
#All Data

Songs = pd.read_csv("AllAtributes.txt") 
DataSongs=pd.DataFrame(Songs)

Albums = pd.read_csv("AllAlbums.txt")
DataAlbums=pd.DataFrame(Albums)

AllSongs = pd.read_csv("Beatles_Dataset.csv")
DataAllSongs=pd.DataFrame(AllSongs)

del DataSongs['Genre']
DataSongs['Album']='Single'

In [16]:
DataSongs

,Song,Year,Month,Day,Lyrics,Writer,Album
0,Love_Me_Do,1962,October,5,Yes,Lennon/McCartney,Single
1,Ps_I_Love_You,1962,October,5,Yes,Not found,Single
2,Ask_Me_Why,1963,January,11,Yes,Lennon/McCartney,Single
3,Please_Please_Me,1963,January,11,No,Not found,Single
4,Taste_Honey,1963,March,22,No,Not found,Single
...,...,...,...,...,...,...,...
296,You_Know_What_Do,1995,November,20,Yes,Not found,Single
297,You_Never_Give_Me_Your_Money,1969,September,26,Yes,Lennon/McCartney,Single
298,Sie_Liebt_Dich,1964,March,5,Yes,Not found,Single
299,Slow_Down,1958,March,7,No,Not found,Single
300,You_Me_Too_Much,1965,August,6,Yes,Not found,Single

In [4]:
DataAlbums

,Songs,Album,Release Year
0,Sgt. Pepper's Lonely Hearts Club Band,Sgt_Peppers_Lonely_Hearts_Club_Band,1967
1,With a Little Help from My Friends,Sgt_Peppers_Lonely_Hearts_Club_Band,1967
2,Lucy in the Sky with Diamonds,Sgt_Peppers_Lonely_Hearts_Club_Band,1967
3,Getting Better,Sgt_Peppers_Lonely_Hearts_Club_Band,1967
4,Fixing a Hole,Sgt_Peppers_Lonely_Hearts_Club_Band,1967
...,...,...,...
134,And Your Bird Can Sing,Yesterday_and_Today,1966
135,If I Needed Someone,Yesterday_and_Today,1966
136,We Can Work It Out,Yesterday_and_Today,1966
137,What Goes On,Yesterday_and_Today,1966
138,Day Tripper,Yesterday_and_Today,1966

In [17]:
actual=[]

for indS,a in enumerate(DataSongs['Song']):
    
    a=a.replace('_',' ')
        
    #Complete Artist
    if DataSongs['Writer'][indS]=='Not found':
        if a in list(DataAllSongs['Title']): 
            indW=DataAllSongs.index[DataAllSongs['Title']==a].tolist()[0]
            DataSongs['Writer'][indS]=DataAllSongs['Songwriter'][indW]
        else:
            actual.append(a)

    #Complete Albums
    if a in list(DataAlbums['Songs']):
        indA=DataAlbums.index[DataAlbums['Songs']==a].tolist()[0]
        DataSongs['Album'][indS]=DataAlbums['Album'][indA]
    else:
        if a in list(DataAllSongs['Title']):
            indAA=DataAllSongs.index[DataAllSongs['Title']==a].tolist()[0]
            DataSongs['Album'][indS]=DataAllSongs['Album.debut'][indAA]

/opt/anaconda3/envs/socialGraphs/lib/python3.7/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/socialGraphs/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/opt/anaconda3/envs/socialGraphs/lib/python3.7/site-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [18]:
change=['P.S. I Love You','A Taste of Honey','Anna (Go to Him)','Do You Want to Know a Secret','There\'s a Place',
       'Twist and Shout','Me You,','I\'ll Get You','All I\'ve Got to Do','Devil in Her Heart','Don\'t Bother Me',
        'It Won\'t Be Long','Money (That\'s What I Want)','Not a Second Time','Please Mr. Postman','You Won\'t See Me',
        'I Want to Hold Your Hand','Boys','Cry for a Shadow','Any Time at All','I\'ll Be Back',
       'A Hard Day\'s Night','Can\'t Buy Me Love','I\'ll Cry Instead','You Know My Name','I\'m Happy Just to Dance with You',
       'She\'s a Woman','Baby\'s in Black','Eight Days a Week','Everybody\'s Trying to Be My Baby','Honey Don\'t',
       'I Don\'t Want to Spoil the Party','I\'ll Follow the Sun','I\'m a Loser','Kansas City/Hey, Hey, Hey, Hey',
       'Mr. Moonlight','Rock and Roll Music','What You\'re Doing','Ticket to Ride','Help!','I\'m Down','"Dizzy, Miss Lizzy"',
       'I\'ve Just Seen a Face','It\'s Only Love','Good Night','You Can\'t Do That','You\'ve Got to Hide Your Love Away',
       'I\'m Looking Through You','In My Life','Norwegian Wood (This Bird Has Flown)','Run for Your Life','The Word',
       'Think for Yourself','What Goes On','You\'ll Be Mine','For No One','Got to Get You into My Life','"Here, There and Everywhere"',
       'I Want to Tell You','I\'m Only Sleeping','Love You To','Yellow Submarine','A Day in the Life',
       'Being for the Benefit of Mr. Kite!','Fixing a Hole','Lucy in the Sky with Diamonds','Sgt. Pepper\'s Lonely Hearts Club Band',
       'Sgt. Pepper\'s Lonely Hearts Club Band (Reprise)','She\'s Leaving Home','When I\'m Sixty-Four','With a Little Help from My Friends',
       'All You Need Is Love','"Baby, You\'re a Rich Man"','"Hello, Goodbye"','I Am the Walrus','The Fool on the Hill',
       'The Inner Light','Back in the U.S.S.R.','Don\'t Pass Me By','Everybody\'s Got Something to Hide Except Me and My Monkey',
       'Happiness Is a Warm Gun','I\'m So Tired','"Long, Long, Long"','Mother Nature\'s Son','"Ob-La-Di, Ob-La-Da"',
       'The Continuing Story of Bungalow Bill','Why Don\'t We Do It in the Road?','Yes It Is','It\'s All Too Much',
       'Only a Northern Song','March Meanies','Pepperland','Pepperland Laid Waste','Sea Holes','Sea Monsters',
       'Sea Time','Don\'t Let Me Down','The Ballad of John and Yoko','Carry That Weight','Here Comes the Sun',
       'I Want You (She\'s So Heavy)','Maxwell\'s Silver Hammer','Mean Mr. Mustard','Oh! Darling','She Came in Through the Bathroom Window',
       'The End','You\'ve Really Got a Hold on Me','Across the Universe','Octopus\'s Garden','The Long and Winding Road',
       'Dig a Pony','For You Blue','I\'ve Got a Feeling','Two of Us','1822','Little Rhyme','A Shot of Rhythm and Blues',
       'Beatles Greetings','Crinsk Dee Night','"Crying, Waiting, Hoping"','Dear Wack','Don\'t Ever Change','Fluff You',
       'Us You','Have Banana','I Forgot to Remember to Forget','I Got a Woman','I Got to Find My Baby','I Just Don\'t Understand',
       'I\'ll Be on My Way','I\'m Gonna Sit Right Down and Cry (Over You)','Johnny B. Goode','Just Rumour',
       'Keep Your Hands Off My Baby','Lonesome Tears in My Eyes','Love These Goon Shows','"Memphis, Tennessee"',
       'Nothin\' Shakin\' (But the Leaves on the Trees)','Ooh! My Arms','Ooh! My Soul','Riding Bus','Set Fire Lot',
       'Sha La La La La','So How Come (No One Loves Me)','Soldier of Love (Lay Down Your Arms)','Sure to Fall (In Love with You)',
       'That\'s All Right (Mama)','The Honeymoon Song','To Know Her is to Love Her','Baby It\'s You','Ain\'t She Sweet',
       'Bésame Mucho','"Hallelujah, I Love Her So"','How Do You Do It?','In Spite of All the Danger','Like Dreamers Do',
       'Searchin\'','Speech Brian Epstein','That\'ll Be the Day','The Sheik of Araby','You\'re Going to Lose That Girl',
       'Free as a Bird','12-Bar Original','If You\'ve Got Trouble','That Means a Lot','Beginning','Come and Get It',
       '"Mailman, Bring Me No More Blues"','"Rip It Up/Shake, Rattle, and Roll/Blue Suede Shoes"','Step Inside Love/Los Paranoias',
       'What\'s The New Mary Jane','Gnik Nus','You Know What to Do','You Like Me Too Much']

In [19]:
for ind,a in enumerate(actual):
    
    a=change[ind]

    #Complete Artist
    if DataSongs['Writer'][indS]=='Not found':
        if a in list(DataAllSongs['Title']): 
            indW=DataAllSongs.index[DataAllSongs['Title']==a].tolist()[0]
            DataSongs['Writer'][indS]=DataAllSongs['Songwriter'][indW]

    #Complete Albums
    if a in list(DataAlbums['Songs']):
        indA=DataAlbums.index[DataAlbums['Songs']==a].tolist()[0]
        DataSongs['Album'][indS]=DataAlbums['Album'][indA]
    else:
        if a in list(DataAllSongs['Title']):
            indAA=DataAllSongs.index[DataAllSongs['Title']==a].tolist()[0]
            DataSongs['Album'][indS]=DataAllSongs['Album.debut'][indAA]

/opt/anaconda3/envs/socialGraphs/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/opt/anaconda3/envs/socialGraphs/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/envs/socialGraphs/lib/python3.7/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [20]:
DataSongs

,Song,Year,Month,Day,Lyrics,Writer,Album
0,Love_Me_Do,1962,October,5,Yes,Lennon/McCartney,Please_Please_Me
1,Ps_I_Love_You,1962,October,5,Yes,Not found,Single
2,Ask_Me_Why,1963,January,11,Yes,Lennon/McCartney,Please_Please_Me
3,Please_Please_Me,1963,January,11,No,Lennon,UK: Please Please Me US: The Early Beatles
4,Taste_Honey,1963,March,22,No,Not found,Single
...,...,...,...,...,...,...,...
296,You_Know_What_Do,1995,November,20,Yes,Not found,Single
297,You_Never_Give_Me_Your_Money,1969,September,26,Yes,Lennon/McCartney,Abbey Road
298,Sie_Liebt_Dich,1964,March,5,Yes,Lennon and McCartney/Nicolas/Montague,UK: Rarities US: Rarities
299,Slow_Down,1958,March,7,No,Williams,UK: Rock 'n' Roll Music US: Something New
300,You_Me_Too_Much,1965,August,6,Yes,"McCartney, with Lennon",UK: Help! US: Beatles VI